<div class="container mb-5 mt-5">
    <div class="row">
        <div class="col-12 p-1 border border-black rounded">
            <h1 class="header">Add new Task</h1>

            <form class="col-12">
                <div class="row ">
                    <div class="col-3 ">
                        <input class="form-control" type="text" name="task" placeholder="Describe task"
                            [(ngModel)]="actual.task">
                    </div>
                    <div class="col-3 form-check ">

                        <label class="form-check-label" for="flexCheckDefault">
                            Today
                        </label>
                        <input class="form-check-input" type="checkbox" name="today" id="flexCheckDefault"
                            [(ngModel)]="todaycheck">
                    </div>
                    <div class="col-3 form-check ">

                        <label class="form-check-label" for="flexCheckDefault">
                            Tomorrow
                        </label>
                        <input class="form-check-input" type="checkbox" id="flexCheckDefault" name="tomorrow"
                            [(ngModel)]="tomorrowcheck">
                    </div>
                    <div class="col-3 ">
                        <button type="button" class="btn btn-light w-100 border border-black rounded"
                            (click)="save()">Save</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row p-1">

        <div class="col-4 p-1 border border-black rounded">
            <h2 class="header">Tasks for Today</h2>
            <form>
                <ul class="list-group" *ngFor="let x of service.gettodays ">
                    <li class="list-group-item">
                      <input class="form-check-input me-1" type="checkbox"  name="today" id="firstCheckbox" (click)="selecttoday(x)" [(ngModel)]="x.isChacked">
                      <label class="form-check-label" for="firstCheckbox"  >{{x.task}}</label>
                    </li>
                    
                  </ul>
            </form>

        </div>
        <div class="col-4 p-1 icons">
            <div class="row text-center">
                <div class="col-12">
                    <div class="icon w-50 mx-auto ">
                        <i (click)="gotomorrow()" class="material-icons rounded-pill" style="font-size:48px;">arrow_forward</i>
                        <p>Tomorrow</p>
                    </div>
                </div>

                <div class="col-12">
                    <div class="icon w-50 mx-auto ">
                        <i (click)="gotoday()" class="material-icons rounded-pill" style="font-size:48px;">arrow_back</i>
                        <p>Today</p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="icon w-50 mx-auto ">
                        <i (click)="selectremove()" class="material-icons rounded-pill" style="font-size:48px;">delete</i>
                        <p>Delete</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 p-1 border border-black rounded">
            <h2 class="header">Tasks for Tomorrow</h2>
            <form>
                <ul class="list-group" *ngFor="let x of service.gettomorrows">
                    <li class="list-group-item">
                      <input class="form-check-input me-1" type="checkbox"  name="tomorrow" id="firstCheckbox" (click)="selecttomorrow(x)" [(ngModel)]="x.isChacked">
                      <label class="form-check-label" for="firstCheckbox" >{{x.task}}</label>
                    </li>
                    
                  </ul>
            </form>

        </div>
    </div>
</div>


